.sameday_select_locker {
    background: linear-gradient(90deg,#ed2224,#b21f24);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: background 0.3s ease;
}

.sameday_select_locker:hover {
    background: linear-gradient(135deg, #d50b15, #8f3614);
    color: white;
}

#placeOrderError {
    background-color: rgb(236, 28, 33); /* red background */
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    display: inline-block;
    transition: 200ms;
}

#placeOrderError.show {
    opacity: 1;
}